/* ----- Fonts ----- */
@font-face {
	font-family: StrikeOne;
	src: url(../fonts/StrikeOne.otf);
}

@font-face {
	font-family: Quest;
	src: url(../fonts/Quest.otf);
}

/* ----- Nav Bar ----- */
nav {
	box-shadow: none;
	background: transparent;
}

nav .brand-logo {
	font-family: StrikeOne;
	margin-left: 20px; 
}

nav li {
	font-family: Quest;
}


/* ----- Body ----- */

/* ----- header ----- */

#index-banner { 
	background-image: url(../images/concert.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

#title {
	font-family: StrikeOne;
	font-size: 100px;
}
#slogan {
	font-family: Quest;
	font-size: 35px;
}

/* Three states of button: not active, hover, and selected */
.btn-large {
	color: white;
	background: #7D90F8;
}

.btn-large:hover {
	background: white;
	color: #7D90F8;
}

.btn-large:focus {
	background: #5A57A7;
	color: white;
}

