/* ----- Fonts ----- */
@font-face {
	font-family: StrikeOne;
	src: url(../fonts/StrikeOne.otf);
}

@font-face {
	font-family: Quest;
	src: url(../fonts/Quest.otf);
}

/* ----- Nav Bar ----- */
nav {
	box-shadow: none;
	background: transparent;
}

nav .brand-logo {
	font-family: StrikeOne;
	margin-left: 20px; 
}

nav li {
	font-family: Quest;
}


/* ----- Body ----- */

/* ----- helpers ----- */
.StrikeOneFont {
	font-family: StrikeOne;
}

.QuestFont {
	font-family: Quest;
}

/* ----- header ----- */

#index-banner { 
	background-image: url(../images/concert_v3.png);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

#title {
	font-family: StrikeOne;
	font-size: 100px;
}
#slogan {
	font-family: Quest;
	font-size: 35px;
}

/* Three states of button: not active, hover, and selected */
.btn-large {
	color: white;
	background: #7D90F8;
}

.btn-large:hover {
	background: white;
	color: #7D90F8;
}

.btn-large:focus {
	background: #5A57A7;
	color: white;
}

#features p.medium {
	font-size: 18px;
}

/* ----- video ----- */
video {
	width: 90%; 
}

	h1#title {
		text-align: center;
		font-size: 80px;
	}
	h4#slogan {
		text-align: center;
		font-size: 30px;
	}

@media only screen and (min-width: 600px) { 
	h1#title {
		text-align: left;
		font-size: 100px;
	}
	h4#slogan {
		text-align: left;
		font-size: 35px;
	}
	video {
		float: right; 
		width: 30%; 
		margin-top: -40px;
	}
}

